[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pandas = "*"
beautifulsoup4 = "*"
django-debug-toolbar = "*"
django-environ = "*"
requests = "*"
djangorestframework = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.13"
